/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove Default Spacing */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
input,
label {
  line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font-family: inherit;
  font-size: inherit;
}

:root {
  --clr-primary-orange: hsl(25, 97%, 53%);
  --clr-shades-very-dark-blue: hsl(216, 12%, 8%);
  --clr-shades-dark-blue: hsl(213, 19%, 18%);
  --clr-shades-light-gray: hsl(217, 12%, 63%);
  --clr-shades-pure-white: hsl(0, 0%, 100%);
  --clr-gradients-light-black: hsl(215, 20%, 17%);
  --clr-gradients-dark-black: hsl(216, 24%, 12%);
  --clr-gradients-black-radial: radial-gradient(hsl(215, 20%, 17%), hsl(216, 24%, 12%));
  --ff-primary-overpass: 'Overpass', sans-serif;
  --fs-body-md: 0.9375rem;
  --fs-body-sm: 0.875rem;
  --fs-heading-lg: 1.75rem;
  --fs-heading-md: 1.5rem;
  --fs-heading-sm: 0.9375rem;
  --fs-rating-md: 1rem;
  --fw-bold: 700;
  --fw-regular: 400;
  --ls-body-sm: 0.01094rem;
  --ls-heading-md: 2px;
  --ls-rating-md: 0.2px;
  --lh-body-md: 1.5rem;
  --lh-body-sm: 1.375rem;
  --lh-heading-md: 1.25;
  --lh-rating-md: 24px;
}

body {
  background: var(--clr-shades-very-dark-blue);
  font-family: var(--ff-primary-overpass);
}
body main {
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .card {
  padding: 1.5rem 1.5rem 2rem;
  max-width: 412px;
  background: var(--clr-gradients-black-radial);
  border-radius: 15px;
}
@media (min-width: 768px) {
  body main .card {
    padding: 2rem;
  }
}
body main .card header {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .card header .star {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-shades-dark-blue);
  border-radius: 100%;
}
@media (min-width: 768px) {
  body main .card header .star {
    height: 48px;
    width: 48px;
    margin-bottom: 0.875rem;
  }
}
body main .card header .star img {
  height: 13.33px;
  width: 13.96px;
}
@media (min-width: 768px) {
  body main .card header .star img {
    height: 16px;
    width: 16.75px;
  }
}
body main .card header h1 {
  font-size: var(--fs-heading-md);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading-md);
  color: var(--clr-shades-pure-white);
}
@media (min-width: 768px) {
  body main .card header h1 {
    font-size: var(--fs-heading-lg);
  }
}
body main .card header p {
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-sm);
  color: var(--clr-shades-light-gray);
}
@media (min-width: 768px) {
  body main .card header p {
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
}
body main .card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  body main .card form {
    gap: 2rem;
  }
}
body main .card form .ratings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .card form .ratings label {
  position: relative;
  height: 42px;
  width: 42px;
  background-color: var(--clr-shades-dark-blue);
  border-radius: 100%;
  transition: all 300ms ease-in;
}
@media (min-width: 768px) {
  body main .card form .ratings label {
    height: 51px;
    width: 51px;
  }
}
body main .card form .ratings label input[type=radio] {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body main .card form .ratings label input[type=radio]:not(:disabled):checked {
  background-color: var(--clr-shades-pure-white);
  background-clip: content-box;
}
body main .card form .ratings label span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -43%);
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-bold);
  line-height: var(--lh-body-md);
  color: var(--clr-shades-light-gray);
  transition: all 300ms ease-in;
}
@media (min-width: 768px) {
  body main .card form .ratings label span {
    font-size: var(--fs-rating-md);
  }
}
body main .card form .ratings label:hover,
body main .card form .ratings label input:hover {
  background-color: var(--clr-primary-orange);
  cursor: pointer;
}
body main .card form .ratings label:hover > span,
body main .card form .ratings label input:hover > span {
  color: var(--clr-shades-dark-blue);
  cursor: pointer;
}
body main .card form .ratings label:has(:checked) > span {
  color: var(--clr-shades-dark-blue);
}
body main .card form button {
  width: 100%;
  padding: 0.875rem;
  background-color: var(--clr-primary-orange);
  border: none;
  border-radius: 22.5px;
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-bold);
  letter-spacing: 0.11669rem;
  color: var(--clr-shades-very-dark-blue);
  text-transform: uppercase;
  transition: all 300ms ease-in;
}
body main .card form button:hover {
  background-color: var(--clr-shades-pure-white);
  cursor: pointer;
}
body main .thank-you {
  padding: 2.125rem 1.5rem 2.3125rem;
}
@media (min-width: 768px) {
  body main .thank-you {
    padding: 2.8125rem 2.25rem;
  }
}
body main .thank-you header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  body main .thank-you header {
    gap: 2rem;
  }
}
body main .thank-you header img {
  height: 96px;
  width: 144px;
}
@media (min-width: 768px) {
  body main .thank-you header img {
    height: 108px;
    width: 162px;
  }
}
body main .thank-you header div {
  padding: 0.3125rem 0.75rem;
  background-color: var(--clr-shades-dark-blue);
  border-radius: 22.5px;
}
@media (min-width: 768px) {
  body main .thank-you header div {
    padding: 0.3125rem 1.25rem;
  }
}
body main .thank-you header div p {
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-sm);
  letter-spacing: 0.00555rem;
  color: var(--clr-primary-orange);
}
@media (min-width: 768px) {
  body main .thank-you header div p {
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
}
body main .thank-you .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body main .thank-you .content h1 {
  font-size: var(--fs-heading-md);
  font-weight: var(--fw-bold);
  line-height: normal;
  color: var(--clr-shades-pure-white);
}
@media (min-width: 768px) {
  body main .thank-you .content h1 {
    font-size: var(--fs-heading-lg);
  }
}
body main .thank-you .content p {
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-sm);
  color: var(--clr-shades-light-gray);
  text-align: center;
}
@media (min-width: 768px) {
  body main .thank-you .content p {
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
}/*# sourceMappingURL=styles.css.map */